
html, body {
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	-webkit-user-select: none;
	overflow: hidden;
}

@font-face {
    font-family: 'gt_cinetype_trialbold';
    src: url('font/gt-cinetype-trial-bold-webfont.woff2') format('woff2'),
         url('font/gt-cinetype-trial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p{
	font-family: "gt_cinetype_trialbold";
	font-size: 16pt;
	line-height: 25px;
}

h1{
	font-family: "gt_cinetype_trialbold";
	font-size: 25pt;
	line-height: 38px;
	width: 70%;
	margin: 12px;
}

#wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

#nutral {
	position: absolute;
	width: 100%;
}

#on {
	background-color: #FFF47D;
	position: absolute;
	display: none;
	height: 100%;

}

#off {
	background-color: #333333;
	position: absolute;
	display: none;
	height: 100%;
}

#head {
	position: relative;
	width: 100%;
	height: 120px;
	padding: 50px 0 30px 0;
}

#dots {
	position: relative;
	margin: 0 auto 0 auto;
	top: -82px;
	left: 190px;
	text-align: left;
	z-index: 100;
}
#dotso {
	position: relative;
	margin: 0 auto 0 auto;
	top: -82px;
	left: 190px;
	text-align: left;

}

#imageDiv {
	position: relative;
}

#info {
	position: relative;
	margin: 0 auto 0 auto;
	padding: 30px 0 30px 0;
	text-align: center;
	width: 70%;
}

.switch {
	width: 80%;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}


#cam {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	border-top: 2px solid black;
	top: 0px;
	text-align: center;
}

#tap {
	position: relative;
	top: 10px;
	margin: 4px auto 0 auto;
	width: 50px;
	height: 4px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#trapezoid_w {
	position: absolute;
	top: -33px;
	width: 58px;
	margin-left: -57px;
	left: 50%;

	border-bottom: 35px solid white;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;

}
#trapezoid_b {
	position: absolute;
	top: -35px;
	width: 60px;
	margin-left: -58px;
	left: 50%;

	border-bottom: 35px solid black;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
}

#clear {
	position: absolute;
	height: 100px;
	width: 60%;
	background-image: url("images/clear.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 15px;
	padding-top: 10px;
	bottom: 50px;
	margin: 0 auto 0 auto;

}
#close {
	position: relative;
	height: 100px;
	width: 48%;
	background-image: url("images/close.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0px 15px;
	padding-top: 10px;

	margin: 0 auto 0 auto;
}

#train_on,#train_off{
	font-size: 25pt;
	margin: 0px;
	width: 50%;
	float: left;
	height: 10px;
}
#train_on_n,#train_off_n {
	font-size: 25pt;
	margin: 0px;
	width: 50%;
	float: left;
	height: 10px;
}

#empty {
	position: relative;
	float: left;
	margin: 0px;
	width: 49%;
	height: 10px;
}
#stream{
	position: relative;
	border: 3px solid black;
	margin-top: 60px;
	width: 300px;
	height: 300px;
	opacity: 0.9;
	border-radius: 200px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);

}

.steps{
	position: absolute;
	z-index: 100;
}
